# Copyright (c) 2021 Trail of Bits, Inc.

Makefile

.envrc
.vscode
.cache
.idea
.DS_Store
.cproject
.project
.settings
cmake-build-debug
cmake-build-release
compile_commands.json

build/*
builds/*
example/codegen/build/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

# VIM
*.swp

# CMake

CMakeFiles/*
CMakeCache.txt
Testing/Temporary/*
_CPack_Packages/*

install/*
