#
# Copyright (c) 2021-present, Trail of Bits, Inc.
# All rights reserved.
#
# This source code is licensed in accordance with the terms specified in
# the LICENSE file found in the root directory of this source tree.
#

name: Build

on:
  push:
    branches:
      - 'master'

    tags:
      - '*'

  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        llvm-version: [19]
        image-version: [22.04]
        build-type: [Release, Debug]
        sanitizers: [OFF]
        features: ["nosarif", "sarif"]

    runs-on: ubuntu-${{ matrix.image-version }}
    timeout-minutes: 60
    container:
      image:
        ghcr.io/trailofbits/vast-ubuntu-${{ matrix.image-version }}-llvm-${{ matrix.llvm-version }}-dev:latest

    env:
        CMAKE_PREFIX_PATH: "/usr/lib/llvm-${{ matrix.llvm-version }}/lib/cmake/mlir/;/usr/lib/llvm-${{ matrix.llvm-version }}/lib/cmake/clang/"
        LLVM_EXTERNAL_LIT: "/usr/local/bin/lit"
        ENABLE_SANITIZER_UNDEFINED_BEHAVIOR: ${{ matrix.sanitizers }}
        ENABLE_SANITIZER_ADDRESS: ${{ matrix.sanitizers }}

    steps:
      - name: Clone the VAST repository
        uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 1

      - name: Configure build - sanitizers ${{ matrix.sanitizers }}
        run: cmake --preset ci-${{ matrix.features }}

      - name: Build ${{ matrix.build-type }} with sanitizers set ${{ matrix.sanitizers }}
        run: cmake --build --preset ci-${{ matrix.features }} --config ${{ matrix.build-type }} -j $(nproc)

      - name: Test ${{ matrix.build-type }} with sanitizers set ${{ matrix.sanitizers }}
        run: ctest --preset ci-${{ matrix.features }} --build-config ${{ matrix.build-type }}
